import React from 'react';
import cn from 'classnames';

import * as styles from './{{pascalCase name}}.module.css';

const {{pascalCase name}} = ({ props }) => {
  return (
     <div></div>
  );
};

export default {{pascalCase name}};
